## 1. 데이터 불러오기 from csv

In [3]:
import pandas as pd

In [4]:
pwd

'C:\\Users\\SMART-13\\Python Session\\Session1'

In [9]:
# Toad for Oracle 에서 select * from customerdata 후 Export dataset -> csv 파일로 저장

In [5]:
customerdata = pd.read_csv("../dataset/customerdata.csv")

In [7]:
customerdata.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [8]:
customerdata.to_csv("../dataset/customerdata_out.csv", index=False)
customerdata.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

## 2. 데이터 불러오기 from 데이터베이스(Oracle)

In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

In [17]:
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine)

In [18]:
# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [19]:
# 데이터 VIEW
print(customerData.head())

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [21]:
# 데이터 저장
resultname='oracleresult_ckj'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)