## 1. 아래 사이트에서 시가총액 상위 7개를 스크랩핑하여 주가명/시가 를 데이터프레임으로 만들어서 오라클 데이터베이스에 kopo_stock_st_이름 으로 저장하세요http://finance.daum.net/quote/marketvalue.daum (컬럼명: stock_name, stock_price)

In [15]:
import requests, bs4, pandas as pd, numpy as np

# 웹페이지 html 소스 가져오기
resp = requests.get("http://finance.daum.net/quote/marketvalue.daum")
#resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')
stock_list = bs.find("ul", {"id":"myListTop1"}).findAll("li")
stock_list

#myListTop1 > li:nth-child(1)>a
#myListTop1 > li:nth-child(3)>a

count = 0
stock_nameList = []
stock_priceList = []
stock_num = 6

#for stock_one in stock_list:
for stock_one in stock_list:
    if count > stock_num:
        break
    stock_name = stock_one.find("a").text   #.find{'a'}.text
    stock_price = stock_one.find("span",{"class":"cost num"}).text
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
list1 = pd.DataFrame(stock_nameList)
stock_priceList
list2 = pd.DataFrame(stock_priceList)
final = pd.concat([list1,list2], axis = 1)
final.columns=['STOCK_NAME', 'STOCK_PRICE']
final

   STOCK_NAME STOCK_PRICE
0        삼성전자      48,100
1      SK하이닉스      86,800
2        셀트리온     296,000
3       삼성전자우      38,350
4       POSCO     366,500
5         현대차     135,500
6   삼성바이오로직..     412,000

In [17]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

In [19]:
# 컬럼해더 재정의
final.columns=['STOCK_NAME', 'STOCK_PRICE']
# 데이터 VIEW
print(final.head())

  STOCK_NAME STOCK_PRICE
0       삼성전자      48,100
1     SK하이닉스      86,800
2       셀트리온     296,000
3      삼성전자우      38,350
4      POSCO     366,500

In [22]:
# 데이터 저장
resultname='KOPO_STOCK_ST_최경재'
final.to_sql(resultname, engine, if_exists='replace', index=False)