## 동일한 데이터프레임 생성

In [1]:
import pandas as pd

In [5]:
date = ['a01', 'a02', 'a03', 'a04','a05']
date2 = ['201501', '201501', '201501', '201501', '201501']
date3 = ['100', '120', '140', '160', '180']

In [6]:
date_df = pd.DataFrame(date, columns=['col1'])
date_df2 = pd.DataFrame(date2, columns=['col2'])
date_df3 = pd.DataFrame(date3, columns=['col3'])

In [9]:
final = pd.concat([date_df,date_df2,date_df3], axis = 1)
final

  col1    col2 col3
0  a01  201501  100
1  a02  201501  120
2  a03  201501  140
3  a04  201501  160
4  a05  201501  180