In [1]:
pwd

'C:\\Users\\SMART-13\\Python Session\\Session1'

# 실습(6/4)

# Markdown

In [2]:
a=3
A=5

print(a)
print(A)

3
5

# 변수명 처음에 숫자 불가

In [3]:
3A = 2

SyntaxError: invalid syntax (<ipython-input-3-ea85cb5e90bf>, line 1)

# 변수명 예약어 사용불가

In [4]:
if = 3

SyntaxError: invalid syntax (<ipython-input-4-d7549b45180c>, line 1)

# 수

## 나머지 연산을 하는 이유는 패턴 파악을 위해서다.

# 파이썬 사칙연산

In [8]:
integer_value = 123
float_value = 12.456

# 1. 더하기 연산

In [7]:
sum = integer_value+float_value
print(sum)

135.456

# 2. 곱하기 연산

In [9]:
multiple = integer_value*float_value
print(multiple)

1532.088

# 3. 나누기 연산

In [10]:
division = integer_value/float_value
print(division)

9.8747591522158

# 4. 제곱연산

In [11]:
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)

144

# 5. 나머지 연산

In [12]:
mod = integer_value%int(float_value)
print(mod)

3

# 문자열

# 1.문자열 더하기

In [14]:
head = "polytech"
tail = "student"
fullString = head+" "+tail
print(fullString)

polytech student

# 2.문자열 곱하기

In [15]:
print("*"*20+" 문자열 연산 프로그램 "+"*"*20)

******************** 문자열 연산 프로그램 ********************

# 3.문자열 인덱싱 0부터 시작

In [16]:
yearweek = "201801"
print(yearweek[0])   #첫번째 문자열 
print(yearweek[0:4]) #0~4번째 전 문자열
print(yearweek[4:])  #4번째부터 끝까지

2
2018
01

# 4.문자열 개수세기

In [17]:
yearweek = "2017W28"
print(yearweek.count('W'))

1

# 5.문자열 위치확인

In [18]:
print(yearweek.index('W'))
delimeter=yearweek.index('W')
yearweek_new = yearweek[:delimeter]+yearweek[delimeter+1:]
print([yearweek_new])
# 이외 upper, lower, replace

4
['201728']

# 6.split 함수

In [19]:
yearweek_list = yearweek.split("W")
print(yearweek_list)

['2017', '28']

## “Sec 2018W28 250”  문자열 생성 후 stock_name, date, value로 각각 의미하는 문자열을 생성하세요 (단 모두 대문자여야 하며, ‘W’를 삭제해야함)

In [24]:
a = "Sec 2018W28 250"
print(a)

Sec 2018W28 250

# 리스트

# 1.리스트 연산

In [25]:
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712,201713]

secinfo = stockName+priceList+[dateList]
print(secinfo)

['SEC', 120, 130, [201712, 201713]]

# 2.리스트 인덱싱

In [26]:
#secinfo=["SEC",120,130,[201712,201713]]
print(secinfo[1])
print(secinfo[3])
print(secinfo[3][0])
print(secinfo[0:3])

120
[201712, 201713]
201712
['SEC', 120, 130]

# 3.리스트 값 업데이트 하기

In [27]:
updateList = [120,130,140,150]
print(updateList)
updateList[2] = 180
print(updateList)

[120, 130, 140, 150]
[120, 130, 180, 150]

# 4.리스트 값 삭제하기

In [28]:
del updateList[3]
print(updateList)

[120, 130, 180]

# 5.리스트 값 삭제하기 구간

In [29]:
1<=인덱스<3
updatelist[1:3] = []

NameError: name '인덱스' is not defined

In [30]:
functionList = [120,130,140,150]
#리스트에 요소 추가하기
functionList.append(100)  / functionList.insert(3,100) 3번째 인덱스에 추가
functionList.extend([11,12])
print(functionList)
#리스트 정렬하기
functionList.sort(reverse = False)
print(functionList)
#값으로 인덱스 가져오기
print(functionList.index(150))
#리스트 자주사용하는 함수
print(len(functionList))
print(min(functionList))
print(max(functionList))
print(sum(functionList))

#리스트에 요소 개수 세기
functionList = [120,130,140,150,120]
functionList.count(120) → 2  # 2개 있음


#리스트에 요소 빼기 (마지막 요소 빠짐)
functionList.pop()

SyntaxError: invalid syntax (<ipython-input-30-a4ab41dba8c8>, line 3)

In [35]:
 # [120,150,300,500,1000,100,2000] 값에서 최소 최대 값을 뺀 평균 averagelist를 구하세요
   
sList = [120, 150, 300, 500, 1000, 100, 200]

# 딕셔너리

In [36]:
dic = {"name":"sec","id":"300000","address":"suwon"}
print(dic)
print(dic['name'])

# dictional key value 추가/변경
dic["name"] = "sec2“
dic["stock"] = "yes"
print(dic)
print(dic["stock"])

# diction 요소 삭제하기
del dic["id"]
print(dic)

SyntaxError: EOL while scanning string literal (<ipython-input-36-f481467bbd31>, line 6)

## dic = {"name":"sec","id":"300000","address":"suwon"} 에서 id를 삭제하여 출력하세요{'name': 'sec', 'address': 'suwon’}

In [37]:
dic = {"name":"sec","id":"300000","address":"suwon"}

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [16]:
dict = {'A01':'한국', 'A02': '미국','A03':'인도'}

for keys in dict.keys():
    print(keys)

A01
A02
A03